<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sau.gym.admin.mapper.VenueCollectMapper">

    <!--  映射查询到的字段 -->
    <resultMap id="VenueCommentMap" type="com.sau.gym.model.entity.venue.VenueCollect" autoMapping="true"></resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        vc.id,u.username,u.avatar,v.venue_name as venueName,vc.collect,vc.create_time
    </sql>

    <sql id="findPageWhere">
        <where>
            <if test="venueName != null and venueName != ''">
                and v.venue_name like CONCAT('%',#{venueName},'%')
            </if>
            <if test="username != null and username != ''">
                and u.username like CONCAT('%',#{username},'%')
            </if>
            and vc.is_deleted = 0 and v.is_deleted = 0
        </where>
    </sql>

    <select id="findByPage" resultType="com.sau.gym.model.vo.venue.VenueCollectVO">
        select <include refid="columns" />
        from venue_collect vc
        left join user u on u.id = vc.user_id
        left join venue v on v.id = vc.venue_id
        <include refid="findPageWhere"/>
        order by vc.id desc
    </select>


    <select id="selectAllVenuesByUserId" resultMap="VenueCommentMap">
        select *
        from venue_collect
        where user_id = #{id}
        and collect = 1 and is_deleted = 0
    </select>

    <insert id="CollectVenue">
        insert into venue_collect(
            venue_id,
            user_id,
            collect,
            create_time,
            update_time,
            is_deleted
        )values (
            #{venueId},
            #{id},
            1,
            now(),
            now(),
            0        )
    </insert>

    <delete id="UnCollectVenue">
        delete from venue_collect
        where user_id = #{id} and venue_id = #{venueId}
    </delete>

</mapper>