<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sau.gym.admin.mapper.CartMapper">

    <!--  映射查询到的字段 -->
    <resultMap id="cartMap" type="com.sau.gym.model.entity.shopping.Cart" autoMapping="true"></resultMap>

    <select id="GetCartList" resultType="com.sau.gym.model.vo.cart.CartItemVO">
        select id,goods_id as goodsId,goods_name as goodsName,image,price,quantity
        from cart
        where user_id = #{id}
    </select>

    <select id="selectCartExist" resultMap="cartMap">
        select *
        from cart
        where user_id = #{userId} and goods_id = #{goodsId}
    </select>

    <update id="addQuantity">
        update cart
        set quantity = quantity + #{quantity}
        where id = #{id}
    </update>

    <insert id="insert">
        insert into cart(
             user_id,
             goods_id,
             goods_name,
             image,
             price,
             quantity
        )values(
           #{userId},
           #{goodsId},
           #{goodsName},
           #{image},
           #{price},
           #{quantity}
                       )
    </insert>

    <!--  购物车表的数据直接物理删除  -->
    <delete id="DeleteCartItem">
        delete from cart
        where id = #{id}
    </delete>

    <update id="UpdateCartItem">
        update cart
        set quantity = #{quantity}
        where id = #{cartId}
    </update>

    <select id="getByCartId" resultMap="cartMap">
        select *
        from cart
        where id = #{cartId}
    </select>

</mapper>